@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

  body {
    font-family: 'Roboto', 'Lato', sans-serif;
    background-color: #0F0F0F;
    color: #CCCCCC;
  }

  h1,
  .h1 {
    @apply font-roboto text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-roboto text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-roboto text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-roboto text-base font-bold md:text-lg;
  }

  body,
  .body {
    @apply font-lato text-sm md:text-base;
  }
}

@layer utilities {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }
:root {
  --tw-clr-primary-200: 219 255 0;
  --tw-clr-primary-300: 0 232 135;
  --tw-clr-primary-400: 0 224 243;
  --tw-clr-primary-500: 0 196 253;

  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #DBFF00 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #00e887 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #00e0f3 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #00c4fd */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

::selection {
  background: rgba(var(--tw-clr-primary-300) / 0.3);
}

.cursor-newtab {
  cursor: url('/images/new-tab.png') 10 10, pointer;
}

/* Other custom styles */

.layout {
  max-width: 68rem;
  @apply mx-auto w-11/12;
}

.bg-dark a.custom-link {
  @apply border-gray-200 hover:border-gray-200/0;
}

.min-h-main {
  @apply min-h-[calc(100vh-82px)];
}

.accent {
  @apply dark:from-primary-300 dark:to-primary-400 dark:bg-gradient-to-tr dark:bg-clip-text dark:text-transparent;
}

.accent-highlight {
  @apply bg-primary-300/50 dark:from-primary-300 dark:to-primary-400 dark:bg-gradient-to-tr dark:bg-clip-text dark:text-transparent;
}
